/* :root {} */
/* @media (prefers-color-scheme: light) { */

nav .logo-with-name a {
  padding: 0;
}

h2 {
  --pico-typography-spacing-top: 2rem !important;
}

ul {
  padding-inline-start: 1.5rem;

  li {
    list-style-type: disc;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &.lsp-inside li {
    list-style-position: inside;;
  }
}

p:last-child {
  margin-bottom: 0;
}

table {
  th,td {
    text-align: center;
  }
}

#route-container {
}

.logo-with-name {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;

  img {
    height: 2.5rem;
    margin-right: 0.3rem;
  }
  
  a:hover {
    text-decoration: none;
  }
}

.color-rating-1-of-5 {
  color: #ff0000;
}

.color-rating-2-of-5 {
  color: #ff7f00;
}

.color-rating-3-of-5 {
  color: #ffbf00;
}

.color-rating-4-of-5 {
  color: #d0ff00;
}

.color-rating-5-of-5 {
  color: #00ff00;
}

.good-color {
  color: #00ff00;
}

.bad-color {
  color: #ff0000;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.left-align {
  text-align: left;
}

.hero {
  text-align: center;
  margin-top: 3rem;
}

.social-links {
  margin: 0;
  padding: 0;
  
  li {
    list-style-type: none;
    display: inline;
    padding-right: 0.5rem;
  }
}

/* Boostrap Icon */
.bi {
  width: 1em;
  font-size: var(--pico-font-size);
}

.inactive-emoji {
  opacity: 0.1;
}

.no-padding-top {
  padding-top: 0;
}

.hide {
  display: none;
}

.no-word-break {
  white-space: nowrap;
}

.hide-in-screenshot {
}

.screenshot {
  th,td {
    /* padding: calc(var(--pico-spacing) / 2) calc(var(--pico-spacing) / 2); */
    padding: calc(var(--pico-spacing) / 2) 0;
  }
}

.v-rating {
  display: inline-block;

  .v-rating-bar {
    width: 24px;
    height: 5px;
    margin-bottom: 5px;
    background-color: var(--pico-color);

    &.inactive {
      opacity: 0.25;
    }
  }
  
  &.good .v-rating-bar {
    background-color: #00ff00;

    &.inactive {
      background-color: var(--pico-color);
    }
  }
  
  &.bad .v-rating-bar {
    background-color: #ff0000;

    &.inactive {
      background-color: var(--pico-color);
    }
  }
}