/* :root {} */

nav .logo-with-name a {
  padding: 0;
}

h2 {
  --pico-typography-spacing-top: 2rem !important;
}

ul li {
  list-style-position: inside;
  list-style-type: disc;
}

table th,
table td {
  text-align: center;
}

#app {
  padding-top: 0;
}

.logo-with-name {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-with-name img {
  height: 2.5rem;
  margin-right: 0.3rem;
}

.logo-with-name a:hover {
  text-decoration: none;
}

.color-rating-1-of-5 {
  color: #ff0000;
}

.color-rating-2-of-5 {
  color: #ff7f00;
}

.color-rating-3-of-5 {
  color: #ffbf00;
}

.color-rating-4-of-5 {
  color: #d0ff00;
}

.color-rating-5-of-5 {
  color: #00ff00;
}

.good-color {
  color: #00ff00;
}

.bad-color {
  color: #ff0000;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.left-align {
  text-align: left;
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.vanilla:hover {
  filter: drop-shadow(0 0 2em #3178c6aa);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
