/* :root {} */
/* @media (prefers-color-scheme: light) { */

nav .logo-with-name a {
  padding: 0;
}

h2 {
  --pico-typography-spacing-top: 2rem !important;
}

ul.lsp-inside li {
  list-style-position: inside;;
}

ul:last-child {
  margin-bottom: 0;
}

p:last-child {
  margin-bottom: 0;
}

ul li {
  list-style-type: disc;
}

table th,
table td {
  text-align: center;
}

#route-container {
  padding-top: 0;
}

.logo-with-name {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
}

.logo-with-name img {
  height: 2.5rem;
  margin-right: 0.3rem;
}

.logo-with-name a:hover {
  text-decoration: none;
}

.color-rating-1-of-5 {
  color: #ff0000;
}

.color-rating-2-of-5 {
  color: #ff7f00;
}

.color-rating-3-of-5 {
  color: #ffbf00;
}

.color-rating-4-of-5 {
  color: #d0ff00;
}

.color-rating-5-of-5 {
  color: #00ff00;
}

.good-color {
  color: #00ff00;
}

.bad-color {
  color: #ff0000;
}

.bold {
  font-weight: bold;
}

.underline {
  text-decoration: underline;
}

.left-align {
  text-align: left;
}

.hero {
  text-align: center;
  margin-top: 3rem;
}

.social-links {
  margin: 0;
  padding: 0;
}

.social-links li {
  list-style-type: none;
  display: inline;
  padding-right: 0.5rem;
}

.bi {
  width: 1em;
  font-size: var(--pico-font-size);
}

.inactive-emoji {
  opacity: 0.1;
}